.cache/
.cmake/
.direnv/
.idea/
.vs/
.vscode/
.xmake/
.DS_Store

bin/
build/
cmake-build-debug/
CMakeFiles/
out/
plugins/
Testing/
docs/

build.ninja
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json
compile_commands.json
config.toml
draconis++
Makefile
result
imgui.ini
subprojects/*
!subprojects/*.wrap
dev_profile*

/config.hpp
pci_ids.o

local.ini
vcpkg_installed/